<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<!-- 1.引入vue.js -->
	<script src='js/vue.js'></script>
</head>
<body>
	<!-- 2.定义页面view -->
	<div id="app">
		<!-- 如果未登录：isLogin==false,就显示登录/注册,否则，就隐藏登录注册 -->
		<!-- 两个元素，二选一显示 -->
		<h1 v-if='isLogin==false'>
			<a href="javascript:;">登录</a>
			<a href="javascript:;">注册</a>
		</h1>
		<!-- 如果上一个条件不满足，则使用下一个h1作为备胎显示 -->
		<!-- <h1 v-if='isLogin==true'>
				Welcome dingding,<a href="javascript:;">注销</a>
		</h1> -->
		<h1 v-else>
				Welcome dingding,<a href="javascript:;">注销</a>
		</h1>
	</div>
	<!-- 3.定义数据模型和控制对象 -->
	<script>
		var vm=new Vue({
			el:'#app',
			data:{
				isLogin:false
			}
		})
		setInterval(function(){
			vm.isLogin=!vm.isLogin;
		},3000);
	</script>
</body>
</html>